{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page {{ title }}
{% endblock %}

{% block body %}

    <h1>Editing Wiki Page: {{ title }}</h1>

    <p>Please note that the wiki uses 
        <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">
        Github Markdown</a> 
        to style its pages.
    </p>

  <form action="{% url 'edit' title=title %}" method="post">
    {% csrf_token %}
    {{ edit_form }}
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>

{% endblock %}